<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>login2</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ck</servlet-name>
        <servlet-class>com.touch.Cklog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ck</servlet-name>
        <url-pattern>/ck</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>code</servlet-name>
        <servlet-class>com.touch.servlet.CodeD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>code</servlet-name>
        <url-pattern>/code</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.touch.servlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/loginuser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>com.touch.servlet.Welcome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
</web-app>